body {
  background: #ffffff url("../images/background_1920x20.png") repeat-y;
}

.th:hover{
  -webkit-box-shadow: 0 0 6px 1px rgba(43, 166, 203, 0.5);
  box-shadow: 0 0 6px 1px rgba(43, 166, 203, 0.5);
}

.th{
  line-height: 0;
  display: inline-block;
  border: solid 4px white;
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}
