body {
  background: #ffffff url("../images/background_1920x20.png") repeat-y;
}

.top-bar {
  background: #ffffff;
}

.wrap {
  min-height: 100%;
}

#main-content {
  padding-bottom: 180px
}

#footer {
  background: #ffffff;
  border-top: 1px solid #ddd;
  padding: 24px 0 10px;
  position: relative;
	margin-top: -180px; /* negative value of footer height */
	height: 180px;
	clear:both;}
}
