<div id="nav" class="fixed">
  <nav class="top-bar" data-topbar>
    <div class="container">
      <ul class="title-area">
        <li class="name">
          <h1 id="logo"><a href="{{ site.baseurl }}/index.html">
            ashley bot.
          </a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
      </ul>
      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li>
            <a href="{{ site.baseurl }}/about.html">About</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/portfolio/">Portfolio</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/blog.html">Blog</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/contact.html">Contact</a>
          </li>
        </ul>
      </section>
    </div>
  </nav>
</div>
