<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <a href="{{ site.baseurl }}/index.html">
        <img src="{{ site.baseurl }}/images/logo_large.png" data-interchange="[{{ site.baseurl }}/images/logo_large.png, (default)], [{{ site.baseurl }}/images/logo_small.png, (small)]"/>
      </a>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="divider"></li>
      <li>
        <a href="{{ site.baseurl }}/about.html">About</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/portfolio/">Portfolio</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/blog.html">Blog</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/contact.html">Contact</a>
      </li>
      <li>
          <a href="http://github.com/ashleybot">
            <img alt="ashleybot's github" style="width:20px;" src="{{ site.baseurl }}/images/github_mark.svg" />
          </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/atom.xml" type="application/atom+xml" rel="alternate" title="ATOM Feed" >
          <img alt="RSS" style="width:20px;" src="{{ site.baseurl }}/images/bigrss.gif" />
        </a>
      </li>
    </ul>
  </section>
</nav>
