<div class="small-6 large-8 columns">
  <nav class="breadcrumbs">
    <a href="{{ site.baseurl }}/about.html">About</a>
    <a href="{{ site.baseurl }}/portfolio/">Portfolio</a>
    <a href="{{ site.baseurl }}/blog.html">Blog</a>
    <a href="{{ site.baseurl }}/contact.html">Contact</a>
    <a href="http://github.com/ashleybot">
      <img alt="ashleybot's github" style="width:20px;padding:10px;" src="{{ site.baseurl }}/images/github_mark.svg" />
    </a>
    <a href="{{ site.baseurl }}/atom.xml" type="application/atom+xml" rel="alternate" title="ATOM Feed" >
      <img alt="RSS" style="width:20px;padding:10px;" src="{{ site.baseurl }}/images/bigrss.gif" />
    </a>
  </nav>
</div>
