<div class="row">
  <div class="large-12 columns">
    <ul class="small-block-grid-2 large-block-grid-4">
      {% for post in site.categories.portfolio %}
        <li>
          <div class="portfolio_th">
            <a href="{{ site.baseurl }}{{ post.url }}">
              <img src="{{ site.baseurl }}{{ post.thumbnail }}" alt="Project Thumbnail" />
            </a>
            <div class="panel">
              <h5>{{ post.title }}</h5>
              <h6 class="subheader">{{ post.date | date: "%d-%m-%y" }}</h6>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
