h1 a {
	text-decoration: none;
}
h1 a:hover {
	text-decoration: underline;
	text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}
.chart div {
   font: 10px sans-serif;
   background-color: steelblue;
   text-align: right;
   padding: 3px;
   margin: 1px;
   color: white;
}
h2.superglue{
	font-family: 'Diplomata SC', cursive;
	text-align:center;
}

h1, h2 {
	color:#292314;
	letter-spacing:3px;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
h2 {
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

h2.square
{
	font-family:'UbuntuTitlingBold', Arial, Helvetica, sans-serif;
}