<!DOCTYPE html>

<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">
<head>

		<!-- Basic Page Needs
	  ================================================== -->
		<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ page.title }}</title>
		<meta name="description" content="{{ page.description }}">
		<meta name="author" content="Ashley Greer Wilson">
		<meta name="keywords" content="{{ page.keywords }}">

		<!-- CSS
	  ================================================== -->
		<link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
		<link rel="stylesheet" href="{{ site.baseurl }}/css/foundation.min.css">
		<link rel="stylesheet" href="{{ site.baseurl }}/css/app.css">


  	<script src="{{ site.baseurl }}/js/vendor/modernizr.js"></script>

  	<!-- IE Fix for HTML5 Tags -->
  	<!--[if lt IE 9]>
  		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  	<![endif]-->

		<!-- Favicons
		================================================== -->
		<link rel="apple-touch-icon" href="{{ site.baseurl }}/images/apple-touch-icon.png">
		<link rel="apple-touch-icon" sizes="72x72" href="{{ site.baseurl }}/images/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="114x114" href="{{ site.baseurl }}/images/apple-touch-icon-114x114.png">
	</head>
	<body>
		{% include menu.html %}

		<div class="wrap">
			<section id="main-content">
				{{ content }}
			</section>
		</div>


		{% include footer.html %}



		<!-- JS
		================================================== -->
		<script src="{{ site.baseurl }}/js/vendor/jquery.js"></script>
    <script src="{{ site.baseurl }}/js/foundation.min.js"></script>

		<script type="text/javascript">
			$(document).foundation();

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-29484417-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
	</body>
 </html>
